.body {
  display: block;
  height: auto;
  max-height: none;
  max-width: none;
  background-color: #000;
  -o-object-fit: fill;
  object-fit: fill;
}

.section {
  height: 402vh;
  border-style: solid;
  border-width: 1px;
  border-color: #130101;
  background-color: #000;
}

.list-container {
  overflow-y: scroll;
  height: auto;
  -ms-overflow-style: none;  /* IE and Edge */
  scrollbar-width: none;  /* Firefox */
  max-height: 100vh;
  min-width: 30vw;
}
.list-container::-webkit-scrollbar {
  display: none;
}

.map-container {
  overflow: visible;
  height: auto;
}

.text-block {
  color: #912525;
}

.heading {
  position: relative;
  display: block;
  margin-top: 0px;
  margin-bottom: auto;
  padding-top: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
  float: left;
  clear: left;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-box-pack: start;
  -webkit-justify-content: flex-start;
  -ms-flex-pack: start;
  justify-content: flex-start;
  -webkit-flex-wrap: nowrap;
  -ms-flex-wrap: nowrap;
  flex-wrap: nowrap;
  -webkit-align-content: flex-start;
  -ms-flex-line-pack: start;
  align-content: flex-start;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, Inconsolata, sans-serif;
  color: #FFCC00;
  font-weight: 600;
  letter-spacing: 0px;
  -o-object-fit: fill;
  object-fit: fill;
}

.heading.booleans {
  position: -webkit-sticky;
  position: sticky;
  padding-left: 0px;
  clear: both;
  color: #00eeee !important;
}

.heading-2 {
  position: relative;
  height: auto;
  margin-top: 0px;
  margin-bottom: -9px;
  padding-left: 0px;
  float: left;
  clear: both;
  color: #E2E2E2;
  font-family: Inconsolata, sans-serif;
  font-weight: 700;
}

.dropdown-toggle {
  position: static;
  display: inline-block;
  width: auto;
  padding: 10px 40px 10px 0px;
  -webkit-box-pack: start;
  -webkit-justify-content: flex-start;
  -ms-flex-pack: start;
  justify-content: flex-start;
}

.icon {
  margin-right: 11px;
}

.heading-3 {
  display: block;
}

.container {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
}

.heading-4 {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  margin-top: 0px;
  margin-bottom: 0px;
  padding-top: 10px;
  padding-bottom: 10px;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-box-flex: 0;
  -webkit-flex: 0 auto;
  -ms-flex: 0 auto;
  flex: 0 auto;
  font-family: Inconsolata, sans-serif;
}

.dropdown {
  -webkit-align-self: center;
  -ms-flex-item-align: center;
  -ms-grid-row-align: center;
  align-self: center;
  -webkit-box-ordinal-group: 2;
  -webkit-order: 1;
  -ms-flex-order: 1;
  order: 1;
  -webkit-box-flex: 1;
  -webkit-flex: 1;
  -ms-flex: 1;
  flex: 1;
}

.text-block-2 {
  display: block;
  width: auto;
  margin-right: auto;
  margin-left: auto;
  padding-left: 72px;
  -webkit-box-pack: start;
  -webkit-justify-content: flex-start;
  -ms-flex-pack: start;
  justify-content: flex-start;
  text-align: left;
  -o-object-fit: fill;
  object-fit: fill;
  color: #E2E2E2;
}

.text-block-3 {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  padding-left: 0px;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-flex: 0;
  -webkit-flex: 0 0 auto;
  -ms-flex: 0 0 auto;
  flex: 0 0 auto;
  font-family: Verdana, Geneva, sans-serif;
  font-weight: 700;
  text-align: left;
  color: #E2E2E2;
}

.column-3 {
  display: block;
  margin-top: 29px;
}

.columns {
  display: block;
  margin-top: 0px;
  padding-top: 0px;
  padding-bottom: 0px;
  -webkit-box-flex: 0;
  -webkit-flex: 0 0 auto;
  -ms-flex: 0 0 auto;
  flex: 0 0 auto;
}

.seperator {
  padding-top: 0px;
  padding-bottom: 3px;
  border: 1px none #000;
  border-radius: 9px;
  background-color: #00eeee;
  box-shadow: 1px 1px 3px 0 #000;
  opacity: 1;
  background-clip: border-box;
}

.text-block-4 {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: stretch;
  -webkit-align-items: stretch;
  -ms-flex-align: stretch;
  align-items: stretch;
  -webkit-box-ordinal-group: 1;
  -webkit-order: 0;
  -ms-flex-order: 0;
  order: 0;
  -webkit-box-flex: 0;
  -webkit-flex: 0 0 auto;
  -ms-flex: 0 0 auto;
  flex: 0 0 auto;
  color: #E2E2E2;
}

.column-4 {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-box-pack: start;
  -webkit-justify-content: flex-start;
  -ms-flex-pack: start;
  justify-content: flex-start;
  text-align: center;
}

.container-2 {
  position: relative;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
}

.column-5 {
  position: static;
}

.left-column {
  position: static;
  clear: left;
}

.column-7 {
  position: static;
}

.right-column {
  clear: right;
}

.list {
  overflow: auto;
}

@media screen and (min-width: 1920px) {
  .body {
    height: auto;
  }

  .section {
    height: 402vh;
  }

  .left-column {
    clear: both;
  }

  .list {
    overflow: auto;
  }

  .columns-2 {
    overflow: visible;
  }
}

@media screen and (max-width: 991px) {
  .body {
    overflow: visible;
    background-color: #000;
  }

  .section {
    height: auto;
  }

  .list-container {
    overflow-y: scroll;
    height: auto;
    -ms-overflow-style: none;  /* IE and Edge */
    scrollbar-width: none;  /* Firefox */
    max-height: 100vh;
    min-width: 30vw;
  }
  .list-container::-webkit-scrollbar {
    display: none;
  }

  .text-block {
    color: #b14a4a;
  }

  .heading {
    position: relative;
    left: 0%;
    top: auto;
    right: 0%;
    bottom: 0%;
    float: none;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
    font-weight: 600;
  }

  .heading.booleans {
    position: relative;
    color: #00eeee !important;
  }

  .heading-2 {
    float: left;
    font-family: Inconsolata, sans-serif;
    font-weight: 700;
  }

  .column-3 {
    margin-top: 0px;
  }

  .left-column {
    position: static;
    clear: both;
    text-align: left;
  }

  .list {
    overflow: auto;
  }

  .columns-2 {
    height: auto;
  }
}

@media screen and (max-width: 767px) {
  .column {
    position: fixed;
    height: 75vh;
  }

  .column-2 {
    position: fixed;
    overflow: scroll;
  }

  .list-container {
    overflow-y: scroll;
    height: auto;
    -ms-overflow-style: none;  /* IE and Edge */
    scrollbar-width: none;  /* Firefox */
    max-height: 100vh;
    min-width: 30vw;
  }
  .list-container::-webkit-scrollbar {
    display: none;
  }

  .heading {
    display: block;
    float: left;
    clear: left;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -webkit-flex-direction: row;
    -ms-flex-direction: row;
    flex-direction: row;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -webkit-box-align: end;
    -webkit-align-items: flex-end;
    -ms-flex-align: end;
    align-items: flex-end;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
    font-weight: 600;
  }

  .heading.booleans {
    clear: none;
    color: #00eeee !important;
  }

  .heading-2 {
    float: left;
    font-family: Inconsolata, sans-serif;
    font-weight: 700;
  }

  .container-2 {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    clear: none;
    -webkit-box-pack: start;
    -webkit-justify-content: flex-start;
    -ms-flex-pack: start;
    justify-content: flex-start;
    -webkit-box-align: end;
    -webkit-align-items: flex-end;
    -ms-flex-align: end;
    align-items: flex-end;
  }

  .left-column {
    position: static;
    display: block;
    clear: both;
  }

  .middle-column {
    clear: none;
  }

  .right-column {
    clear: right;
  }
}

@media screen and (max-width: 479px) {
  .body {
    height: 788.1817626953125vh;
  }

  .heading {
    clear: left;
  }

  .heading-2 {
    float: left;
    font-weight: 700;
  }

  .text-block-3 {
    -webkit-box-flex: 0;
    -webkit-flex: 0 0 auto;
    -ms-flex: 0 0 auto;
    flex: 0 0 auto;
  }

  .text-block-4 {
    -webkit-box-flex: 0;
    -webkit-flex: 0 0 auto;
    -ms-flex: 0 0 auto;
    flex: 0 0 auto;
  }

  .container-2 {
    height: auto;
    clear: none;
  }

  .left-column {
    position: static;
    clear: left;
  }

  .column-7 {
    position: relative;
    clear: both;
  }

  .middle-column {
    clear: none;
  }

  .right-column {
    clear: right;
  }
}