#globe {
    margin-left: 0;
    padding: 0;
}

.wf-active #info-box{
    visibility: visible;
}

@-webkit-keyframes pulsate { 
    0% {opacity: .3;}
    50% {opacity: 1.0;}
    100% {opacity: 0.3;}
}

@keyframes pulsate { 
    0% {opacity: 0.3;}
    50% {opacity: 1.0;}
    100% {opacity: 0.3;}
}

.projection {
    border-radius: 3px;
    opacity: .5;
    cursor: crosshair;
}

#add-element {
   list-style: none; 
   margin: 0; 
   padding: 0; 
   display: inline-block; 
   width: 275px; 
   padding-top: 5px;
   border-bottom: 1px solid #1d2c33;
   padding-bottom: 5px;
   margin-bottom: 5px;

}

#add-element li {
   float: left; 
   width: 25%;
   margin: 5px;
} 

#add-element li:first-child {
   margin-left: 2px;
   
} 

#add-element .selected {
    background-color: #111;
}

label {
    /* clear: both; */
    /* float:left; */
    display: inline-block;
    width: 120px;
    margin-top: 12px;
}

#color-options {
   list-style: none; 
   margin: 0; 
   padding: 0; 
   display: inline-block; 
   width: 50%;
}

#color-options li{
   cursor: pointer;
   display: inline-block;
}

#pin-color {
    background-color: #00eeee;
}

#marker-color {
    background-color: #ffcc00;
}

#satellite-color {
    background-color: #ff0000;
}

#apply-button {
    clear: both;
    width: 100px;
    margin-top:20px;
}


/* spectrum changes */

.sp-dd {
    display: none;
}

.sp-replacer {
    padding: 0;
    background-color: inherit;
    border: none;
}
.sp-preview {
    float: none;
    width: 10px;
    height: 10px;
    margin-right: 0;
    border: 1px solid #1d2c33;
}